* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 1rem;
}

label,
input,
button,
select,
textarea {
    font-family: sans-serif;
}

label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 0.5rem 0;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
}