nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

main img {
    width: 140px;
    height: auto;
    border: 2px double blue;
}

aside {
    width: 25rem;
    margin: 2rem;
    border: 2px solid rgb(50 50 50 / 0.4);
    padding: 2rem;
    background-color: #ddf;
    color: #222;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px double #00e;
    text-align: center;
}