:root {
    --line-color: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

main img {
    width: 140px;
    height: auto;
    border: 2px double var(--line-color);
    padding: 1px;
    box-shadow: 0 0 40px black;
    float: right;
}

aside {
    width: 25rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 170px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px double var(--line-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: darkblue;
}